.boardSpace{
  height: 260px;
  width: 260px;
  background-color: #7485a3;
  border-style: inset;
  border-color: #fff2ca;
  border-width: 5px;
  text-align: center;
  font-size: 170px;
  color: #fff2ca;
  font-family: 'Shadows Into Light', cursive;
}

.jumbotron {
  text-align: center;
  background-color: black;
  color: #fff2ca;
  font-family: 'Shadows Into Light', cursive;
  width: 750px;
  height: 250px;
}
.hidden2{
  display: none;
}
#playerOne{
  font-size: 70px;
  color: red;
}
#playerTwo{
  font-size: 70px;
  color: blue;
}
.btn:hover {
  color: #fff2ca;
}
body{
  background-color: #fff2ca;
  margin: auto;
  width: 75%;
  padding: 10px;

}
#reset{
  color: #000;
}
